<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Tarefas NodeJS</title>
    <link href="/public/style.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/bootsrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.0/dist/sweetalert2.min.css" rel="stylesheet">
</head>

<body class="container">
    <div class="tarefas">
        <h3>TODOLIST NODEJS</h3>
        <form class="d-flex" method="post" onsubmit="return validarFormulario()">
            <input type="text" class="form-control" name="inserir" />
            <input type="submit" name="acao" class="btn btn-primary" value="inserir" />
        </form>
        <% for (let i=0; i< taskList.lenght; i++){%>
            <p>
                <%= tasksList[i] $> | <a href="/deletar/<%= i %>"><i class="bi bi-trash"></i> </a>
            </p>
            <%}%>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.0/dist/sweetalert2.all.min.js"></script>
    <script src="https://maxcdn.bootsratpcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
<script>
    function validarFormulario() {
        var tarefa = document.getElementByName("tarefa")[0].value;
        if (tarefa.trim() === '') {
            swal.fire({
                icon: 'error',
                title: 'Oops',
                text: "Por favor, preencha a tarefa antes de enviar."
            });

            return false;
        }
        return true;
    }
</script>

</html>