@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,92,1) 54%, rgba(0,212,255,1) 100%);
    
}

.tarefas{
    max-width: 700px;
    background-color: white;
    border-radius: 20px;
    padding:20px;
    text-align: center;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

